/*
Custom icon font for compat tables
********************************************************************** */
@font-face {
  font-family: compat-icons;
  src: url("fonts/compat-icons.eot");
  src: url("fonts/compat-icons.eot?#iefix") format("embedded-opentype"), url("fonts/compat-icons.woff2") format("woff2"), url("fonts/compat-icons.woff") format("woff"), url("fonts/compat-icons.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

[class^='ic-'],
[class*=' ic-'] {
  font-family: compat-icons;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering - - - - -  */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.ic-altname:before {
  content: '\e601'; }

.ic-footnote:before {
  content: '\e602'; }

.ic-prefix:before {
  content: '\e603'; }

.ic-obsolete:before {
  content: '\f014'; }

.ic-disabled:before {
  content: '\f024'; }

.ic-non-standard:before {
  content: '\f071'; }

.ic-experimental:before {
  content: '\f0c3'; }

.ic-history:before {
  content: '\f0dd'; }

.ic-protected:before {
  content: '\f132'; }

/*
platform icons
====================================================================== */
.ic-desktop:before {
  content: '\f108'; }

.ic-mobile:before {
  content: '\f10a'; }

/*
.ic-mini:before {
    content: '\f10b';
}

.ic-android:before {
    content: '\f17b';
}

.ic-firefox_os:before {
    content: '\e600';
}
*/
/*
browser icons
====================================================================== */
.ic-webview_android:before {
  content: '\f17b'; }

.ic-chrome:before {
  content: '\eae5'; }

.ic-chrome_android:before {
  content: '\eae5\0020\f17b'; }

.ic-firefox:before {
  content: '\eae6'; }

.ic-firefox_android:before {
  content: '\eae6\0020\f17b'; }

.ic-edge:before {
  content: '\e605'; }

.ic-edge_mobile:before {
  content: '\e605'; }

.ic-ie:before {
  content: '\eae7'; }

.ic-ie_mobile:before {
  content: '\eae7'; }

.ic-opera:before {
  content: '\eae8'; }

.ic-opera_android:before {
  content: '\eae8'; }

.ic-opera_mini:before {
  content: '\eae8\0020\f10b'; }

.ic-safari:before {
  content: '\e94a'; }

.ic-safari_ios:before {
  content: '\e94a'; }

/*
Icons denooting complicatons with support (footnote, altname, prefix, etc)
********************************************************************** */
.bc-icons {
  position: relative;
  z-index: 12;
  /* raise z-index so tool tips still appear even if overlapping history link */
  /* TODO: center icons if they wrap, :first-line? only on mobile?  */
  float: right;
  margin: 0 2px; }

.bc-icons a {
  text-decoration: none; }

@media all and (max-width: 800px) {
  th .bc-icons {
    float: none;
    display: inline-block; } }

/*
Icons in mobile view
********************************************************************** */
@media all and (max-width: 47.9375em) {
  [class*='bc-browser-']:before {
    position: absolute;
    top: 8px;
    left: 0;
    height: 25px;
    width: 50px;
    font-family: compat-icons;
    speak: none;
    color: #333;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    line-height: 1;
    text-align: center;
    text-transform: none; }
  /*
    vendor icons
    ====================================================================== */
  .bc-browser-webview_android:before {
    content: '\f10a\0020\f17b'; }
  .bc-browser-chrome:before {
    content: '\f108\0020\eae5'; }
  .bc-browser-chrome_android:before {
    content: '\f17b\0020\eae5'; }
  .bc-browser-firefox:before {
    content: '\f108\0020\eae6'; }
  .bc-browser-firefox_android:before {
    content: '\f17b\0020\eae6'; }
  .bc-browser-edge:before {
    content: '\f108\0020\e605'; }
  .bc-browser-edge_mobile:before {
    content: '\f10a\0020\e605'; }
  .bc-browser-ie:before {
    content: '\f108\0020\eae7'; }
  .bc-browser-ie_mobile:before {
    content: '\f10a\0020\eae7'; }
  .bc-browser-opera:before {
    content: '\f108\0020\eae8'; }
  .bc-browser-opera_android:before {
    content: '\f17b\0020\eae8'; }
  .bc-browser-opera_mini:before {
    content: '\f10b\0020\eae8'; }
  .bc-browser-safari:before {
    content: '\f108\0020\e94a'; }
  .bc-browser-safari_ios:before {
    content: '\f10a\0020\e94a'; } }

/*
Table Layout
====================================================================== */
/*
Table layout
- uses display: block for smaller screen sizes;
- requires .bc-table-{$num} modifier to display columns correctly
********************************************************************** */
.text-content table.bc-table {
  /* specificity to over-ride .text-content styles */
  width: 100%;
  table-layout: fixed;
  border: none;
  /* to over-ride .text-content styles */
  border-collapse: separate;
  /* to over-ride .text-content styles */
  border-spacing: 0;
  background-color: #eaeef2;
  background-color: rgba(212, 221, 228, 0.5); }

.bc-table,
.bc-table thead,
.bc-table tbody,
.bc-table tr,
.bc-table th,
.bc-table td {
  box-sizing: border-box; }

/* tr
====================================================================== */
.bc-table tr {
  position: relative;
  border-bottom: 0 solid transparent; }

/* th & td
====================================================================== */
.bc-table th,
.bc-table td {
  position: relative;
  padding: 5px 3px;
  border-color: #000000;
  border-top: 1px solid #000000;
  border-right: 0;
  border-bottom: 0 solid transparent;
  border-left: 1px solid #000000;
  text-align: center; }

/* no right border on empty cell in first row */
.bc-table thead tr:first-child td {
  border-right: 0; }

/* first column, fixed at 200 */
.bc-table thead td,
.bc-table tbody th {
  width: 200px;
  min-width: 200px;
  max-width: 200px;
  overflow: hidden; }

/* everything except first column, 12 columns */
.bc-table-2 thead th,
.bc-table-2 tbody td {
  width: 50%; }

.bc-table-3 thead th,
.bc-table-3 tbody td {
  width: 33.33333%; }

.bc-table-4 thead th,
.bc-table-4 tbody td {
  width: 25%; }

.bc-table-5 thead th,
.bc-table-5 tbody td {
  width: 20%; }

.bc-table-6 thead th,
.bc-table-6 tbody td {
  width: 16.66667%; }

.bc-table-7 thead th,
.bc-table-7 tbody td {
  width: 14.28571%; }

.bc-table-8 thead th,
.bc-table-8 tbody td {
  width: 12.5%; }

.bc-table-9 thead th,
.bc-table-9 tbody td {
  width: 11.11111%; }

.bc-table-10 thead th,
.bc-table-10 tbody td {
  width: 10%; }

.bc-table-11 thead th,
.bc-table-11 tbody td {
  width: 9.09091%; }

.bc-table-12 thead th,
.bc-table-12 tbody td {
  width: 8.33333%; }

/* second column */
.bc-table thead td + th,
.bc-table tbody th + td {
  border-left: 0; }

/* thicker border between platforms */
.text-content .bc-platform-border {
  border-left: 2px solid #000000; }

/* th
====================================================================== */
.text-content .bc-table th {
  background-color: transparent;
  overflow: hidden;
  padding: 5px 3px 5px 6px; }

.bc-table .bc-platforms th {
  width: auto;
  padding: 5px 0 2px 0;
  border-top: 0;
  border-bottom: 2px solid #000000;
  font-size: 24px; }

.bc-table .bc-browsers th {
  border-top: 0;
  padding: 3px 0;
  font-size: 18px; }

.bc-table tbody th {
  border-right: 2px solid #000000;
  border-left: 0;
  text-align: left; }
  .bc-table tbody th code {
    white-space: nowrap; }

/* td
====================================================================== */
/* empty td in thead */
.bc-table thead td {
  border-top: 0;
  border-right: 2px solid #000000;
  border-left: 0; }

/* make outline more visible */
.bc-table td:focus {
  z-index: 1; }

.bc-table td[tabindex] {
  cursor: pointer; }

.no-js .bc-table tbody td,
.bc-table tbody td[tabindex] {
  padding-top: 6px;
  padding-bottom: 12px; }

/*
tablet display
- declarataions are mixins
- mixins are included in media queries below
====================================================================== */
@supports (display: grid) {
  @media all and (min-width: 47.9385em) and (max-width: 63.9375em) {
    /* convert rows into grids */
    .bc-table tr {
      display: grid; }
    /* assign number of columns based on table class */
    .bc-table-1 tr {
      grid-template-columns: repeat(1, 1fr); }
    .bc-table-2 tr {
      grid-template-columns: repeat(2, 1fr); }
    .bc-table-3 tr {
      grid-template-columns: repeat(3, 1fr); }
    .bc-table-4 tr {
      grid-template-columns: repeat(4, 1fr); }
    .bc-table-5 tr {
      grid-template-columns: repeat(5, 1fr); }
    .bc-table-6 tr {
      grid-template-columns: repeat(6, 1fr); }
    .bc-table-7 tr {
      grid-template-columns: repeat(7, 1fr); }
    .bc-table-8 tr {
      grid-template-columns: repeat(8, 1fr); }
    .bc-table-9 tr {
      grid-template-columns: repeat(9, 1fr); }
    .bc-table-10 tr {
      grid-template-columns: repeat(10, 1fr); }
    .bc-table-11 tr {
      grid-template-columns: repeat(11, 1fr); }
    .bc-table-12 tr {
      grid-template-columns: repeat(12, 1fr); }
    .bc-table-13 tr {
      grid-template-columns: repeat(13, 1fr); }
    .bc-table-14 tr {
      grid-template-columns: repeat(14, 1fr); }
    /* remove width constraints on all cells */
    .text-content .bc-table td,
    .text-content .bc-table th {
      width: auto;
      min-width: 0;
      max-width: 100%; }
    /* hide empty cells in thead */
    .bc-table thead td {
      display: none;
      z-index: 1;
      /* increase z-index for js to detect tablet display */ }
    /* make platforms span correct number of columns */
    th[class^=bc-platform][colspan='2'] {
      grid-column-end: span 2; }
    th[class^=bc-platform][colspan='3'] {
      grid-column-end: span 3; }
    th[class^=bc-platform][colspan='4'] {
      grid-column-end: span 4; }
    th[class^=bc-platform][colspan='5'] {
      grid-column-end: span 5; }
    th[class^=bc-platform][colspan='6'] {
      grid-column-end: span 6; }
    th[class^=bc-platform][colspan='7'] {
      grid-column-end: span 7; }
    th[class^=bc-platform][colspan='8'] {
      grid-column-end: span 8; }
    th[class^=bc-platform][colspan='9'] {
      grid-column-end: span 9; }
    th[class^=bc-platform][colspan='10'] {
      grid-column-end: span 10; }
    th[class^=bc-platform][colspan='11'] {
      grid-column-end: span 11; }
    th[class^=bc-platform][colspan='12'] {
      grid-column-end: span 12; }
    th[class^=bc-platform][colspan='13'] {
      grid-column-end: span 13; }
    th[class^=bc-platform][colspan='14'] {
      grid-column-end: span 14; }
    /* make feature headings span entire row */
    .bc-table tbody th {
      grid-column-start: 1;
      grid-column-end: last-line;
      border-right: none; }
    /* remove left padding from history callouts */
    .bc-history {
      padding-left: 0; } }
  @media all and (min-width: 63.9385em) and (max-width: 74.9375em) {
    .wiki-left-present {
      /* convert rows into grids */
      /* assign number of columns based on table class */
      /* remove width constraints on all cells */
      /* hide empty cells in thead */
      /* make platforms span correct number of columns */
      /* make feature headings span entire row */
      /* remove left padding from history callouts */ }
      .wiki-left-present .bc-table tr {
        display: grid; }
      .wiki-left-present .bc-table-1 tr {
        grid-template-columns: repeat(1, 1fr); }
      .wiki-left-present .bc-table-2 tr {
        grid-template-columns: repeat(2, 1fr); }
      .wiki-left-present .bc-table-3 tr {
        grid-template-columns: repeat(3, 1fr); }
      .wiki-left-present .bc-table-4 tr {
        grid-template-columns: repeat(4, 1fr); }
      .wiki-left-present .bc-table-5 tr {
        grid-template-columns: repeat(5, 1fr); }
      .wiki-left-present .bc-table-6 tr {
        grid-template-columns: repeat(6, 1fr); }
      .wiki-left-present .bc-table-7 tr {
        grid-template-columns: repeat(7, 1fr); }
      .wiki-left-present .bc-table-8 tr {
        grid-template-columns: repeat(8, 1fr); }
      .wiki-left-present .bc-table-9 tr {
        grid-template-columns: repeat(9, 1fr); }
      .wiki-left-present .bc-table-10 tr {
        grid-template-columns: repeat(10, 1fr); }
      .wiki-left-present .bc-table-11 tr {
        grid-template-columns: repeat(11, 1fr); }
      .wiki-left-present .bc-table-12 tr {
        grid-template-columns: repeat(12, 1fr); }
      .wiki-left-present .bc-table-13 tr {
        grid-template-columns: repeat(13, 1fr); }
      .wiki-left-present .bc-table-14 tr {
        grid-template-columns: repeat(14, 1fr); }
      .wiki-left-present .text-content .bc-table td,
      .wiki-left-present .text-content .bc-table th {
        width: auto;
        min-width: 0;
        max-width: 100%; }
      .wiki-left-present .bc-table thead td {
        display: none;
        z-index: 1;
        /* increase z-index for js to detect tablet display */ }
      .wiki-left-present th[class^=bc-platform][colspan='2'] {
        grid-column-end: span 2; }
      .wiki-left-present th[class^=bc-platform][colspan='3'] {
        grid-column-end: span 3; }
      .wiki-left-present th[class^=bc-platform][colspan='4'] {
        grid-column-end: span 4; }
      .wiki-left-present th[class^=bc-platform][colspan='5'] {
        grid-column-end: span 5; }
      .wiki-left-present th[class^=bc-platform][colspan='6'] {
        grid-column-end: span 6; }
      .wiki-left-present th[class^=bc-platform][colspan='7'] {
        grid-column-end: span 7; }
      .wiki-left-present th[class^=bc-platform][colspan='8'] {
        grid-column-end: span 8; }
      .wiki-left-present th[class^=bc-platform][colspan='9'] {
        grid-column-end: span 9; }
      .wiki-left-present th[class^=bc-platform][colspan='10'] {
        grid-column-end: span 10; }
      .wiki-left-present th[class^=bc-platform][colspan='11'] {
        grid-column-end: span 11; }
      .wiki-left-present th[class^=bc-platform][colspan='12'] {
        grid-column-end: span 12; }
      .wiki-left-present th[class^=bc-platform][colspan='13'] {
        grid-column-end: span 13; }
      .wiki-left-present th[class^=bc-platform][colspan='14'] {
        grid-column-end: span 14; }
      .wiki-left-present .bc-table tbody th {
        grid-column-start: 1;
        grid-column-end: last-line;
        border-right: none; }
      .wiki-left-present .bc-history {
        padding-left: 0; } } }

/*
mobile display
====================================================================== */
@media all and (max-width: 47.9375em) {
  .bc-table thead {
    display: none; }
  .bc-table thead td {
    z-index: 2;
    /* increase z-index for js to detect mobile display */ }
  .bc-table tbody th {
    width: 100%;
    max-width: 100%;
    display: block;
    border-right: 0;
    padding-top: 10px;
    padding-bottom: 0; }
  .bc-table tbody td {
    position: relative;
    min-width: 100%;
    width: 100%;
    max-width: 100%;
    display: block;
    box-sizing: border-box;
    box-shadow: inset 50px 0 0 0 #eaeff2;
    border-top: 1px solid #000000;
    border-left: 0;
    padding-left: 60px;
    padding-right: 10px;
    text-align: left; }
    .bc-table tbody td:last-child {
      border-bottom: 2px solid #000000; }
  .bc-table tbody td[tabindex] {
    padding-bottom: 20px; }
  .bc-platforms th + th,
  .text-content .bc-platform-border {
    border-top: 2px solid #000000;
    border-left: none; } }

/*
Support cells
====================================================================== */
/*
Supports colouring
********************************************************************** */
.bc-supports-yes,
.bc-supports-partial,
.bc-supports-no,
.bc-supports-unknown,
.bc-table .bc-history {
  color: #000000; }

.bc-supports-yes a,
.bc-supports-partial a,
.bc-supports-no a,
.bc-supports-unknown a {
  color: #000000;
  text-decoration: underline; }

.bc-supports-yes,
.bc-supports-yes .bc-history {
  background-color: #ebf8e1; }

.bc-supports-partial,
.bc-supports-partial .bc-history {
  background: #fff3d4; }

/*
.bc-supports-partial {
    background-image:
        linear-gradient(to bottom right,
            map-get($bc-colors, no) 0,
            map-get($bc-colors, no) 4px,
            transparent 4px,
            transparent 65px,
            map-get($bc-colors, no) 65px,
            map-get($bc-colors, no) 75px,
            transparent 75px,
            transparent 136px,
            map-get($bc-colors, no) 136px,
            map-get($bc-colors, no) 146px,
            transparent 146px
        );
    background-size: 100px 100px;
    background-position: 50% 50%;
}
*/
.bc-supports-no,
.bc-supports-no .bc-history {
  background-color: #ffe7e8; }

/*
.bc-supports-no {
    background-image:
        linear-gradient(to bottom right,
            map-get($bc-colors, no) 0,
            map-get($bc-colors, no) 4px,
            transparent 4px,
            transparent 65px,
            map-get($bc-colors, no) 65px,
            map-get($bc-colors, no) 75px,
            transparent 75px,
            transparent 136px,
            map-get($bc-colors, no) 136px,
            map-get($bc-colors, no) 146px,
            transparent 146px
        ),
        linear-gradient(to bottom left,
            map-get($bc-colors, no) 0,
            map-get($bc-colors, no) 4px,
            transparent 4px,
            transparent 65px,
            map-get($bc-colors, no) 65px,
            map-get($bc-colors, no) 75px,
            transparent 75px,
            transparent 136px,
            map-get($bc-colors, no) 136px,
            map-get($bc-colors, no) 146px,
            transparent 146px
        );
    background-size: 100px 100px, 100px 100px;
    background-position: 50% 50%, 50% 50%;
}
*/
.bc-supports-unknown,
.bc-supports-unknown .bc-history {
  background-color: #eeeeee; }

/*
History
====================================================================== */
/*
History-link
********************************************************************** */
.bc-history-link {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 11;
  display: block;
  width: 100%;
  height: 11px;
  margin-top: -10px;
  clear: both;
  text-align: center;
  font-size: 12px;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  line-height: 1;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  background-color: transparent;
  color: #fff; }

/* increases hit area of the history link, making it easier to click/tap/etc, only necisary if JS is off */
.bc-history-link:before {
  content: '';
  position: absolute;
  top: -15px;
  left: 50%;
  margin-left: -15px;
  display: block;
  height: 15px;
  width: 30px;
  /* if there are icons the text is shifted left, shift the target extention as well */ }
  .bc-icons + .bc-history-link:before {
    margin-left: -30px; }

.bc-history-link i {
  position: relative;
  top: -4px; }

/*
active styles
====================================================================== */
.active .bc-history-link {
  z-index: 21;
  margin-top: -10px; }

.active .bc-history-link,
td[tabindex]:hover .bc-history-link,
td[tabindex]:focus .bc-history-link {
  background-color: #000000;
  border-top: 1px solid black; }

.active.bc-supports-yes .bc-history-link,
td[tabindex].bc-supports-yes:hover .bc-history-link,
td[tabindex].bc-supports-yes:focus .bc-history-link {
  color: #ebf8e1; }

.active.bc-supports-no .bc-history-link,
td[tabindex].bc-supports-no:hover .bc-history-link,
td[tabindex].bc-supports-no:focus .bc-history-link {
  color: #ffe7e8; }

.active.bc-supports-partial .bc-history-link,
td[tabindex].bc-supports-partial:hover .bc-history-link,
td[tabindex].bc-supports-partial:focus .bc-history-link {
  color: #fff3d4; }

.active.bc-supports-unknown .bc-history-link,
td[tabindex].bc-supports-unknown:hover .bc-history-link,
td[tabindex].bc-supports-unknown:focus .bc-history-link {
  color: #eeeeee; }

/*
mobile adjustments
====================================================================== */
@media all and (max-width: 47.9375em) {
  .bc-history-link {
    width: calc(100% - 60px);
    /* falls back to 100% on non supporting browsers */
    height: 20px;
    margin-top: -20px;
    font-size: 16px; }
  .bc-history-link i {
    top: 0;
    margin: 0; }
  .active .bc-history-link {
    margin-top: -18px; } }

/*
History
********************************************************************** */
.bc-table .bc-history {
  position: absolute;
  top: 100%;
  z-index: 20;
  display: none;
  visibility: hidden;
  overflow: hidden;
  box-sizing: border-box;
  border-top: 1px solid #000000;
  border-bottom: 2px solid #000000;
  padding-left: 200px;
  cursor: default;
  background-color: #eaeff2; }

.active .bc-history {
  display: block;
  visibility: visible;
  height: 0; }

/* creates a block to fill the space under the absolutely
   positioned .bc-history-button so text doesn't overlap
   the button */
.bc-history:before {
  content: '';
  display: block;
  height: 45px;
  width: 60px;
  float: right; }

.bc-history-head {
  padding-top: 10px;
  padding-left: 10px;
  margin-bottom: 10px;
  font-size: 17px;
  font-size: 1.0625rem;
  text-align: left; }

.bc-history dl {
  text-align: left;
  margin: 10px;
  margin-left: 160px; }

.bc-history dt {
  float: left;
  clear: left;
  max-width: 120px;
  margin-left: -150px; }

.bc-history dt,
.bc-history dd {
  margin-top: 30px; }

.bc-history dd {
  min-height: 1.2em;
  margin-bottom: 0;
  padding-top: 4px;
  padding-left: 0;
  padding-bottom: 10px;
  font-weight: normal; }

.bc-history dl > dt:first-child,
.bc-history dl > dt:first-child + dd,
.bc-history dd + dd {
  margin-top: 0; }

.bc-history-button {
  position: absolute;
  top: 10px;
  right: 10px; }

.bc-supports {
  display: inline-block;
  position: relative;
  border: 1px solid #000000;
  padding: 3px;
  min-width: 120px;
  text-align: center; }

.bc-legend .bc-supports {
  display: inline-block;
  min-width: 30px; }

@media all and (min-width: 769px) {
  .wiki-right-present.wiki-left-present .bc-table .bc-history {
    padding-left: 0;
    box-shadow: none; } }

@media all and (min-width: 47.9385em) and (max-width: 63.9375em) {
  .bc-table .bc-history {
    padding-left: 0;
    box-shadow: none; } }

@media all and (max-width: 47.9375em) {
  .bc-history dl {
    margin-left: 10px; }
  .bc-history dt {
    margin-top: 10px;
    margin-left: 0;
    margin-bottom: 10px; }
  .bc-history dd {
    clear: left;
    min-height: 0; } }

/*
Footnotes & Legend
====================================================================== */
/*
Footnotes
********************************************************************** */
.bc-footnotes dt {
  margin-top: 10px;
  font-weight: bold; }

.bc-footnotes dl > dt:first-child {
  margin-top: 0; }

.bc-footnotes dd {
  margin-left: 20px; }

/*
Legend
********************************************************************** */
.bc-legend {
  margin-bottom: 20px; }

.bc-legend dt {
  display: inline-block;
  margin: 0 0 5px 0; }

.bc-legend dd {
  display: inline;
  margin: 0 10px 5px 10px; }

.bc-legend dd:after {
  content: '\a';
  white-space: pre; }

@media all and (min-width: 47.9385em) {
  .bc-legend dl {
    display: grid;
    grid-template-columns: 100px 1fr 100px 1fr; }
  .bc-legend dt {
    display: block;
    grid-column: 1 / 2; }
  .bc-legend dd {
    display: block;
    grid-column: 2 / 3; }
  .bc-legend *:nth-child(4n + 3) {
    display: block;
    grid-column: 3 / 4; }
  .bc-legend *:nth-child(4n + 4) {
    display: block;
    grid-column: 4 / 5; } }

/*
Beta menu
====================================================================== */
.bc-beta-menu {
  position: relative;
  display: inline-block;
  float: right ; }
  html[dir='rtl'] .bc-beta-menu {
    float: left ; }
  .bc-beta-menu ul {
    padding-left: 20px;
    list-style-type: none;
    text-align: left; }
